# Dataset (do not upload raw data)
Data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Model artifacts
*.pkl
